nav{
    height: 90%;
    width: 100%;
    position: fixed;
}
#wrapper{
    color: #707070;
}
img{
    //max-width: 100%;
}
p{
    margin-bottom: 2%;
}
#access-sec01{
    width: 70%;
    margin: 0 auto;
    padding: 5%;
    h2{
        font-size: 2em;
        font-family: serif;
    }
}
#access-sec02{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    .access-sec02-item02{
        padding: 1%;
        ul{
            margin: 5% 0;
        }
        div{
            height: 100%;
        }
    }

}

.map{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10%;
    text-align: center;
    display: flex;
    width: 70%;
    img{
        width: 50%;
    }
}


@media screen and (max-width: 480px) {
    img {
      max-width: 100%;
    }
    h2{
        font-size: 1.3em;
    }

    #wrapper{
        width: 100%;
    }
    #access-sec01{
        width: 90%;
        padding-top: 80px;
        h2{
            font-size: 1.3em;
        }
        p{
            font-size: 0.8em;
        }
    }
    .map{
        width: 90%;
        display: block;
        background-color: rebeccapurple;
        img{
            width: 100%;
            background-color: rebeccapurple;
        }
        iframe{
            height: 300px;
        }
    }
    
    #access-sec02{
        .access-sec02-item{
            display: none;
        }
        .access-sec02-item02{
            //width: 10%;
        }
        &::before{
            content:"";
            background: url('../img/pattern-2.png') repeat;
            height: 500px;
            width: 50px;
        }
        &::after{
            content:"";
            background: url('../img/pattern-2.png') repeat;
            height: 500px;
            width: 50px;
        }
    }


}