nav{
    height: 90%;
    width: 100%;
    position: fixed;
}
main{
    color: #707070;
    margin-bottom: 250px;
    #firstview{
        display: inline-block;
        height: 100vh;
        width: 100%;
        h3{
            font-size: 2em;
            writing-mode: vertical-rl;
            display: inline-block;
            margin-top: 10%;
            width: 25%;
        }

        .sam{
            display: inline-block;
            float: right;
        }
        .prev{
            display: inline-block;
            position: absolute;
            top: 20%;
            left: 8%;
        }
    }

    #sentence{
        width: 960px;
        margin: 15% auto;
        line-height: 2em;
        white-space: pre-wrap;
        word-wrap: break-word;
    }

}

@media screen and (max-width: 480px) {
    main{
        #firstview{
            display: block;
            width: 95%;
            margin: 0 auto;
            margin-top: 100px;
            height: auto;
            h3{
                box-sizing: border-box;
                padding: 5%;
                writing-mode: unset;
                font-size: 1.2em;
                margin-top: 0;
                width: 100%;
            }
            .prev{
                display: block;
                position: static;
            }
            .sam{
                display: none;
                float: none;
            }
        }
        #sentence{
            width: 95%;
            margin: 15% auto;
            line-height: 2em;
            white-space: pre-wrap;
            word-wrap: break-word;
        }
    }

}