footer{
    background: url(../img/background_gnavi.png);
    color: #fff;
    width: 100%;
    margin: 0 auto;

    #footer_inner{
        float: left;
        // width: 30%;
        margin: 6% 0% 0 7%;
    }

    .copy{
        text-align: center;
        clear: both;
    }
}