header{
    nav{
        background: url(../img/background_gnavi.png);
        width: 100%;
        height: 15%;
        display: inline-flex;
        z-index: 10000;
        h2{
            margin: -1.5% 0% 0 4% ;
        }
        ul{
            width: 100%;
            text-align: center;
            margin-top: 2.5%;
            line-height: 1em;
        }
        li{
            display: inline-flex;
            justify-content: center;
            text-align: center;
            font-size: 1.2em;
            margin: 0 4%;
            a{
                color: #fff;
                font-family: "Ro本明朝Pr5";
            }
            span{
                font-size: 0.8em;
            }
        }
    }
}