header{
    // background-color: brown;
    // width: 100vw;
    height: 100vh;
    position: relative;
    margin: 0;

    nav{
        position: absolute;
        bottom: 0%;
    }

    .gnav{
        position: absolute;
    }
    .gnav.fixed{
        position: fixed;
        top: 0;
    }

    h1{
        width: 30%;
        position: absolute;
        top: 8%;
        left: 8%;
    }
    .hero{
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -10000;
    }
    /*#first-view{
        background: url(../img/home_firstview.png) no-repeat ;
        width: 100%;
        height: 100%;
        margin: 0 0 0 auto;
    }*/
}




main{
    margin-top: 10%;
    color: #707070;
    position: relative;
    overflow-x: hidden;

    #txt{
        h3{
            font-family: "Ro本明朝Pr5";
            font-size: 2.5em;
            line-height: 1em;
            margin-bottom: 5%;
        span{
                font-size:0.7em ;
            }
        }
        p{
            line-height: 2em;
        }
    }

    #concept{
        position: relative;
        #txt{
            position: absolute;
            top: 5%;
            right: 20%;
            .container{
                margin: 60% 0 0 100%;
            }
        }
    }

    .chocolate{
        position: absolute;
        top: 8%;
        z-index: -1000;
    }

    #menu{
        p:first-child{
            position: absolute;
            top: 25%;
            right: 0;
        }
        p:nth-child(2){
            position: absolute;
            top: 35%;
            left: 0;
        }

        #txt{
            position: absolute;
            top: 40%;
            right: 0%;
            width: 50%;
        }

        h3{
            margin-bottom: 25%;
        }
    }

    #gallery{
        // position: absolute;
        margin-top: 110%;
        #txt{
            position: absolute;
            left: 3%;
            text-align: left;
            p{
                margin-bottom: 20%;
            }
        }
            .right{
                text-align: right;
            }
        // li{
        //     display: inline-block;
        //     margin: 0;
        //     padding: 0;
        // }
/* ------------------------------
loopSlider
------------------------------ */
.loopSliderWrap {
    top: 0;
    left: 0;
    height: 300px;
    overflow: hidden;
    position: absolute;
}

.loopSliderWrap:after {
    content: "";
    display: block;
    clear: both;
}

.loopSlider {
    margin: 0 auto;
    width: 100%;
    height: 300px;
    text-align: left;
    position: relative;
    overflow: hidden;
    visibility: hidden;
}

.loopSlider ul {
    height: 300px;
    float: left;
    overflow: hidden;
}

.loopSlider ul li {
    width: 300px;
    height: 300px;
    float: left;
    overflow: hidden;
}

.loopSlider ul li img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .loopSliderWrap,
    .loopSlider,
    .loopSlider ul {
        height: 100px;
    }

    .loopSlider ul li {
        width: 100px;
        height: 100px;
    }
}

    }

    #access{
        margin-top: -0.5%;

        p img{
            float: left;
        }
        #txt{
            float: right;
            width: 40%;
            margin: 5% 3% 0 0;
        }
        .container{
            margin-top: 20%;
        }

    }

    /*botten*/
    .container {
        font-family: toppan-bunkyu-mincho-pr6n,serif;
        font-weight: 400;
        font-style: normal;
        // text-align: center;
        .btn-open {
            display: inline-block;
            width: 180px;
            height:38px;
            text-align: center;
            background-color: #583330;
            font-size: 1.4em;
            // line-height: 52px;
            color: #FFF;
            border: 2px solid#583330;
            position: relative;
            overflow: hidden;
            z-index: 1;
        }
        .btn-open:after{
            width: 100%;
            height: 0;
            content:"";
            position: absolute;
            top: 50%;
            left: 50%;
            background : #FFF;
            opacity: 0;
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
            transition: .2s;
            z-index: -1;
        }
        .btn-open:hover{
            color: #583330;
        }
        .btn-open:hover:after{
            height: 240%;
            opacity: 1;
        }
        .btn-open:active:after{
            height: 340%;
            opacity: 1;
        }
    }
}


@media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */
    img{
        max-width: 100%;
    }
/* firstview */
    header{

        .logo_bottom{
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            background: url(../img/background_gnavi.png);
            padding: 4% 0;

        }
        .gnav{
            display: none;
            ul{
                // display: none;
            }
            h2{
                margin: -20px auto;
            }
        }

        h1{
            width: 66%;
        }

        .hero{
            position: relative;
            height: 100vh;
            // display: none;
        }

        .hero img {
            position: absolute;
            top: 0;
            left: -72%;
            width: auto;
            height: auto;
            min-width: 100%;
            min-height: 100%;
            max-width: inherit;
            object-fit: cover; /* この一行を追加するだけ！ */

        }
    }


    main{
        margin: 0;
        #txt h3{
            font-size: 2em;
        }

        /*concept*/

        #concept{
            position: relative;
            margin-bottom: 100%;

            img {
                // width: 100%;
                width: 134px;
                height: 360px;
                object-fit: cover; /* この一行を追加するだけ！ */
            }

            #txt{
            position: absolute;
            top: 5%;
            right: 3%;
            width: 57%;

            .container{
                margin: 15% 0 0 0 ;
            }
            }


        }
        .chocolate{
            top: 14%;
        }

        /*menu*/

        #menu{
            p:first-child {
                width: 90%;
                top: 28%;
            }
            p:nth-child(2) {
                position: absolute;
                top: 34%;
                left: 0;
                width: 40%;
            }

            #txt{
                position: absolute;
                top: 43%;
                left: 10%;
                width: 220%;

                h3 {
                    margin-bottom: 18%;
                }

            }
        }

        #gallery{
            margin-top: 291%;
            #txt {
                left: 39%;
                p {
                    margin-bottom: 10%;
                }
            }
            .right{
                position: relative;
                text-align: left;
                img{
                    width: 134px;
                    height: 360px;
                    object-fit: cover; /* この一行を追加するだけ！ */
                }
            }
        }

        #access{
            p img{
                float: none;
            }
            #txt{
                width: 90%;
                float: none;
                margin: 3% auto;
            }
            .container {
                margin: 5% 0;
            }
        }

    }

}

