nav{
    height: 90%;
    width: 100%;
    position: fixed;
}
main{
    color: #707070;
    #firstview{
        display: inline-block;
        height: 100vh;
        width: 100%;
        font-family: "Ro本明朝Pr5";
        h3{
            font-size: 2.5em;
            writing-mode: vertical-rl;
            display: inline-block;
            margin: 0% 13.2% 17% 0%;

        }
        p{
            font-size: 1.3em;
            writing-mode: vertical-rl;
            display: inline-block;
            margin: 15% 2% 0% 20%;
            line-height: 2em;
        }
        img{
            text-align: right;
            display: inline-block;
            float: right;
        }
        .deco{
            display: none;
        }
    }

    ul{
        text-align: center;
    }
    li{
        display: inline-block;
        text-align: left;
        margin: 10% 2%;
    }

}


@media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */
    img{
        max-width: 100%;
    }
    main{
        #firstview{
            position: relative;
            img {
                width: 215px;
                height: 489px;
                -o-object-fit: cover;
                object-fit: cover;
                float: none;
                position: absolute;
                left: 0px;
                top: 20%;
                z-index: 0;
            }
                h3 {
                    font-size: 2em;
                    margin: 0;
                    position: absolute;
                    right: 2%;
                    top: 20%;
                }
                .txt{
                    float: right;
                    font-size: 1em;
                    margin: 48% 0% 0% 20%;
                    line-height: 1.8em;
                    padding: 0 17% 10% 0;
                }
                .deco{
                    display: block;
                    float: right;
                    font-size: 1.2em;
                    margin: 0 10% 0 0;
                    line-height: 1.8em;
                    padding-left: 19%;
                    -webkit-writing-mode: unset;
                    border-top: solid 1px;
                    text-align: right;
                }


        }

        #menu{
            li{
                img{
                    box-shadow: 0 0 4px #999;
                    border: 10px solid #fff;
                }
            }
        }


}
}