nav{
    // height: 95px;
    width: 100%;
    position: fixed;
    top: 0;
}

main{
    width: 960px;
    margin: 10% auto;
    color: #707070;
    margin-bottom: 100px;
    a{
        color: #707070;
    }
    h3{
        font-size: 2em;
        margin: 5% 0;
        font-family: "Ro本明朝Pr5";
    }
    li{
        border-bottom: #707070 1px solid;
        display: block;
        font-size: 1.2em;
        width: 100%;
        img{
            float: right;
        }
        a{
            display: block;
            padding: 3%;
            padding-bottom: 5%;
            &:hover{
                transition-duration: 0.3s;
                background-color: #707070;
                color: white;
            }
        }

    }
}


@media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */
    img{
        max-width: 100%;
    }

    main{
        width: 100%;
        h3{
            margin: 5%;
        }
        li{
            margin: 0 auto;
            margin-bottom: 10%;
            font-size: .8em;
            width: 90%;
            overflow: hidden;
            a{
                box-sizing: border-box;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                img{
                    width: 5%;
                }
            }

        }
    }
}